<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plexensus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='plexensus.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <form> <!--This is so dumb but it works-->
        {{the_moviename_form | safe}}
        {{the_movieyear_form | safe}}
        {{the_movieposter_form | safe}}
    </form>

    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

    <script src="{{url_for('static', filename='mvc.js')}}"></script>

    <div class="poster">
        {{the_poster | safe}}
    </div>

        <div class=ControlPanel>
            <div class="year">
                <h1 id="movieyear">{{the_movieyear}}</h1>
            </div>
            <div class="name">
                <h1 id="moviename">{{the_moviename}}</h1>
            </div>

            <div class="Buttons">
                <div class="ControlColumn">
                    <button type="button" name="dislike-button">
                        <img id="dislike" src="static/images/Xlogo.png" alt="I Don't Like This" style="position: absolute; right: 0%;">
                    </button>
                </div>
                <div class="ControlColumn">
                    <button type="button" name="refresh-button" style="display: block; margin-left: auto; margin-right: auto; padding-top: 30%;">
                        <img id="refresh" src="static/images/Refreshlogo.png" alt="Reset">
                    </button>
                </div>
                <div class="ControlColumn">
                    <button type="button" name="like-button">
                        <img id="like" src="static/images/Ticklogo.png" alt="I Like This" style="margin-left: -2%;">
                    </button>
                </div>
            </div>



            <div class="ModalOverlay">
                <!-- Currently visibility is set to hidden in css-->
            </div>
            <div class="alert">
                <!-- Currently visibility is set to hidden in css-->
                <h1>Alert!</h1>
                <div class="alertmsg">
                    <p>This is a sample alert that will be generated when the user attempts to refresh or when the user has a match. Thankyou</p>
                </div>
                <div class="Buttons">
                    <div class="ControlColumn">
                        <img id="dislike" src="static/images/Xlogo.png" alt="I Don't Like This" style="position: absolute; right: 0%;">
                    </div>
                    <div class="ControlColumn">
                        <img id="refresh" src="static/images/Refreshlogo.png" alt="Reset" style="display: block; margin-left: auto; margin-right: auto; padding-top: 30%;">
                    </div>
                    <div class="ControlColumn">
                        <img id="like" src="static/images/Ticklogo.png" alt="I Like This" style="margin-left: -2%;">
                    </div>
                </div>
            </div>
        </div>
</body>

</html>